# Mac files
.DS_Store

# Vim files
*.swp

# Output files from testing
*.txt
*.csv
!src/test/resources/*

# Class files
*.class

# Deploy files
build/*
.gradle*
gradle/*
*.bat
gradlew
*.zip
*.cmd
*.jar
*.jnlp
*.jks
*.html
